:root{
    --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;

    scroll-behavior: smooth; /* For smoothly going to section */
}
*::selection{
    background: #f39c12;
    color: #fff;
}

/*------------------------------------------------------------------*/
/* Scroll CSS */

.navbar1 a.active{
    /* color: #862B0D; */
    color: #7d3f2b;
    font-weight: 600;
}

/*------------------------------------------------------------------*/

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: #333;
}
html::-webkit-scrollbar-thumb{
    background: linear-gradient(#f1c40f, #f39c12);
}

section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}
body{
    overflow: hidden;
}
.btn{
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn:hover{
    background: linear-gradient(#db850d, #e5aa4b);
    box-shadow: 0 .4rem .5rem rgba(0,0,0,.3);
}
.btn::before{
    content: '';
    position: absolute;
    top: -1rem; left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate((25deg));
    z-index: -1;
}

.btn:hover::before{
    transition: all;
    left: 120%;
}
span{
    color: #f39c12;
}

/* body{
    height: 300rem;
} */

.heading{
    color: #444;
    padding: 1rem;
    font-size:4rem;
    text-align: center;
}
.heading span{
    color: #f39c12;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color: #fff;
    font-size: 2.5rem;
}
/* header .navbar1 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header .navbar1 ul li{
    margin: 0 1rem;
}
header .navbar1 ul li a{
    font-size: 2rem;
    color: #fff;
}
header .navbar1 ul li a.active,
header .navbar1 ul li a:hover{
    color: #444;
} */
header .navbar1 a{
    color: #fff;
    font-size: 2rem;
    margin: 0 0.8rem;
    text-decoration: none;
}
header .navbar1 a:hover{
    /* color: var(--gradient); */
    /* color: #FD8D14; */
    color: #7d3f2b;
    font-weight: 600;
}
header #login{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
header #login:hover{
    color: #444;
}

header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/* Icon Css */

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: var(--orange);
}

/* ======================================== */
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0;right: 0;
    padding: 1.5rem 2rem;
    background-color: #333;
    border-top: .1rem solid rgba(255,2555,255,0.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0); /*To remove the search bar */
 }

 header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
 }

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: #fff;;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--orange);
}


/* ---------------------------------------------------------------------------------------------------------  */
/* Login Page CSS */

.login-form-container{
    position: fixed;
    top: -120%;left: 0; /*First top:0;  --> To build login page , then -120% to hide it*/
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.login-form-container form .box:focus{
    border-color: var(--orange);
}

.login-form-container form #remember{
    margin: 2rem 0;
}
.login-form-container form .login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn1{
    display: block;
    width: 100%;
} 

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.login-form-container form p a{
    color: #f39c12;
    text-decoration: underline;
}
.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

/* Form close  */

.login-form-container #form-close{
    position: absolute;
    top: 2rem; 
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

#menu{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

/* ---------------------------------------------------------------------------------------------------------  */
/* Home CSS  */
.home{
    display: flex;
    align-items:flex-start;
    /* align-items: center; */
    justify-content:center;
    flex-flow: column;
    background: url(../Images/backG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align:start
    /* padding-right: 70rem; */
    /* right: 0; */
}
/* .homebtn{
    left: 16.5rem;
    /* align-items: center; 
} */

.home h1{
    font-size: 5rem;
    color: #180c0c;
    color: #02040c;
    /* width: 40rem; */
    /* color: linear-gradient(#eee,#f39c12); */

}
.home p{
    font-size: 1.9rem;
    color: #d8d8e2;
    padding: 1rem 0;
    width: 50rem;
}
.home .shape{
    position: absolute;
    bottom: -.2rem;left: 0;
    height: 15rem;
    width: 100%;
    background-color: url(../Images/BackGround.jpg);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2) );
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: 100rem;
    }
}

/* About CSS */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .image{
    flex: 1 1 40rem;
}
.about .image img{
    height: 65vh;
    width: 100%;
}
.about .content{
    flex: 1 1 40rem;
    padding-left: 30px;
}
.about .content h3{
    font-size: 3.5rem;
    color: #666;
}
.about .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
/* .about .content .learn{
    width: 100%;
} */
/* .about .content a .learn{
     text-align: center; 
    margin-left: 27rem;
} */

/* Courses CSS  */
.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;flex-wrap: wrap;
}

.course .box-container .box{
    width: 30rem;
    border: .1rem solid rgba(0,0,0,.3);
    position: relative;
    margin: 1.5rem;
    border-radius: 30px;
}
.course .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(145, 130, 130, 0.3);
}
.course .box-container .box img{
    height: 17rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.course .box-container .box .content{
    padding: 1rem;
}
.course .box-container .box .content .stars i{
    color: #f39c12;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}
.course .box-container .box .content .title{
    color: #1d4778;
    font-size: 1.8rem;
    font-weight: 700;
}
.course .box-container .box .content .title:hover{
    text-decoration: underline;
}
.course .box-container .box .content p{
    padding: 1rem 0;
    color: #666;
    font-size: 1.5rem;
}
.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}
.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding: 1rem;
    color: #666;
}
.course .box-container .box .content .info h3 i{
    padding-right: .5rem;
    color: #f39c12;
    /* font-size: 1.5rem; */
}
.course .box-container .box .price{
    position: absolute;
    top: 16rem;right: 1rem;
    height: 7rem;
    width: 7rem;
    line-height:  7rem;
    text-align: center;
    border-radius: 50%;
    background: var(--gradient);
    color: #fff;
    font-size: 3rem;
}
.course .box-container .box .content a .buy{
    margin-left: 70px;
    /* background: transparent;  */
    z-index: 1;
    overflow: hidden; 
    text-align: center;
}
.course .box-container .box .content .buy:hover{
    /* background: #fff;
    color: var(--gradient); */
    /* background: rgb(246, 243, 243); */
    /* background:linear-gradient(90deg, #b9dae2, #8370c5);
    color:#333;
    font-weight: 600;
    border: .2rem solid #f39c12;
    transition: .4s; */
    color: #fff;
    font-weight: 600;
}
.course .box-container .box .content a .buy::before{
    content: '';
    position: absolute;
    top: 0;left: 0;width: 0;
    height: 100%;
    background: linear-gradient(#a6b5de, #6d76d6);
    z-index: -1;
    transition: .6s;
}
.course .box-container .box .content a .buy:hover::before{
    width: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------- */


/*===============================Team CSS Start=============================*/
.team{
    background: #fff;
    box-shadow: insert 0 0 3rem rgba(0,0,0,.5);
}
.team__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.team__member{
    /* background: rgb(246, 241, 227); */
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.team__member:hover{
    background: transparent;
    background-color: #EEEDED ;
    border: 1px solid #444;
    box-shadow: 0 0 2em rgba(0,0,0,.2);
}

/*Color Change */
.team__member-image img{
    filter: saturate(0);
    width: 100%;
    height: 300px;
    border-radius: 1.5rem;
}
.team__member:hover img{
    filter: saturate(1);
}
/* ------------ */
.team__member-info *{
    text-align: center;
    margin-top: 1.4rem;
}
.team__member-info h4{
    font-size: 2rem;
}
.team__member-info p{
    color: var(--color-light);
}
.team__member-socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: rgb(97, 197, 240);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,.3);
    transition: var(--transition);
    font-size: 1rem;
}
.team__member:hover .team__member-socials{
    right: 0;
}

.team__member-socials a{
    padding: 1rem;
    font-size: 2rem;
}

/*===============================REVIEW CSS End=============================*/


/* Review CSS */
.review{
    /* display: inline-block; */
    margin-bottom: 0;
    padding-bottom: 0;
}
.review .review-slider{
    /* padding-bottom: 2rem; */

    /* width: 80%; */
    display: block; 
    margin :auto;
    /* padding-top: 50px; */

    /* display: flex;
    justify-content: center;
    align-items: center;  */

    /* width: 400px;
    height: 400px; */

    /* margin-left: 50px; */
    /* margin-right: 50px; */

}
.review .box{
    padding: 2rem;
    text-align: center;
    /* box-shadow: 0 1rem 2rem rgba(0,0,0,.1); */
    border-radius: .5rem;

    /*New CSS*/
    /* padding-left: 100px;
    padding-right: 100px; */
}
.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.review .box h3{
    color: #000;
    font-size: 2.5rem;
}
.review .box h4{
    color: #86a5fa;
    font-size: 2rem;
}
.review .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.review .box .stars i{
    color: #eb9310;
    font-size: 1.7rem;
}
/* .ck{
    overflow: hidden;
} */


/*===============================Team CSS End=============================*/

/*===============================New FAQs CSS Start(27/07/23)=============================*/

.title{
    font-size: 50px;
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 4rem;
    text-decoration: underline 4px;
}


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question button span:hover{
    color: #91C8E4;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

.answerNew {
    background-color: #4070F4;
}
.answerNew p{
    /* padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem; */
    color: red;
} */

/*===============================New FAQs CSS End(27/07/23)=============================*/


/* Contact CSS */
.contact{
    background: #111;
}
.contact .heading{
    color: #f1c40f;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row form{
    flex: 1 1 50rem;
    background: #222;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: center;
}
.contact .row form .box{
    height: 5rem;
    width: 49%;
    border: .1rem solid #eee;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background: none;
    text-transform: none;
}
.contact .row form .box:focus{
    border-color: #f39c12;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .address{
    height: 15rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}
.contact .row form .btn:hover{
    background: #fff;
    color: #333;
}
.contact .row form .image img{
    height: 80vh;
    margin-top: 2rem;
}

/* Footer CSS  */
.footer{
    background: #333;
}
.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .box-container .box{
    margin: 1.5rem;
    text-align: center;
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}
/* .footer .box-container .box h3:hover{
    color: #db850d;
} */
.footer .box-container .box p{
    font-size: 1.7rem;
    color: #eee;
    padding: .7rem 0;
}
.footer .box-container .box p i{
    padding-right: .5rem;
    color: #f39c12;
}
.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding: .5rem 0;
    color: #eee;
}
.footer .box-container .box a:hover{
    text-decoration: underline;
    color: #f39c12;
}
.footer .credit{
    padding: 2rem 1rem;
    font-size: 2rem;
    color: #fff;
    background: #111;
    text-align: center;
}
 


/*============Go to top css==========*/
.gototop{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #f39c12;
    bottom: 15px;
    right: 15px;

    text-decoration: none;
    align-items: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    border-radius: 40%;

    z-index: 1;
}
.gototop i{
    padding-left: 6px;
    font-size: 30px;
    /* padding-bottom: 20px; */
}


/* ================================== */





































@media screen and (max-width:1024px){
    .team__container{
        grid-template-columns: repeat(3 1fr);
        gap: 1.5rem;
    }
    .team__member{
        padding: 1.5rem;
    }
}
@media screen and (max-width:900px){
    .team__container{
        grid-template-columns: repeat(2 1fr);
        gap: 1.5rem;
    }
    .team__member{
        padding: 1.5rem;
    }
}
@media screen and (max-width:950px){
    header #menu{
        display: initial;
    }
    header .navbar1{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Hide navbar */
    }

    header .navbar1.active{  /* No gap between .navbar1 & .active */
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }

    header .navbar1 a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }

    .fa-times{
        transform: rotate(90deg);
    }

}



@media (max-width:768px){
    html{
        font-size: 55%;
    }
    /* header #menu{
        display: block;
    }
    header .navbar1{
        position: fixed;
        top: -120%;left: 0;
        width: 100%;
        background: #444;
    }
    header .navbar1 ul{
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar1 ul li{
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }
    header .navbar1 ul li a{
        font-size: 2.5rem;
        display: block;
    }
    header .navbar1 ul li a.active,
    header .navbar1 ul li a:hover{
        color: #f39c12;
    } */

    /* -------------------------------------------------------------------- */
    /* header .navbar1.nav-toggle{
        top: 6.4rem;
    } */
    
    .home h1{
        font-size: 4rem;
    }
    .home p{
        width: auto;
    }
    .contact .row form .image{
        display: none;
    }

    .slide-content{
        margin: 0 10px; 
    }
    .swiper-navBtn{
        display: none;
    }
    .team__container{
        grid-template-columns: 1fr;
        display: block;
        /* gap: .7rem; */
    }
    .team__member{
        padding: 0;
    }
    .team__member p{
        margin-bottom: 1.5rem;
    }
}
/* ====================================================== */
@media screen and (max-width:600px){
    .team__container{
        grid-template-columns: 1fr;
        gap: .7rem;
    }
    .team__member{
        padding: 0;
    }
    .team__member p{
        margin-bottom: 1.5rem;
    }
}
/* ====================================================== */

@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .contact .row form .box{
        width: 100%;
    }
    .team__container{
        grid-template-columns: 1fr;
        /* gap: .7rem; */
    }
    /* .homebtn{
        left: 12rem;
    } */
}
/* @media (max-width:300px){
    .homebtn{
        left: 6rem;
    }
} */
